#define wifiSSID "my-wifi-ssid"
#define wifiPassword "my-wifi-password"
#define timeApiURL "http://worldtimeapi.org/api/timezone/Europe/Paris"
#define ethApiURL "http://api.etherscan.io/api?module=proxy&action=eth_blockNumber"
// GPIO where the DS18B20 is connected to
#define oneWireBus 32
#define sleepDurationSeconds 300